header {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  background-color: lightgrey;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}
li {
  margin-right: 15px;
  padding: 0px 6px;
  border-radius: 8px;
  border: 1px solid black;
  list-style-type: none;
}
